<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  
  <autofac defaultAssembly="Morpher.WebService.V3">  
    <components>

      <component
        type="Morpher.WebService.V3.General.Data.Services.DummyResultTrimmer"
        service="Morpher.WebService.V3.General.Data.IResultTrimmer"/>
      
      <component
        type="Morpher.WebService.V3.Russian.XmlUserDictionary, Morpher.WebService.V3.LibAnalyzer"
        instance-scope="single-instance">
        <parameters>
          <parameter name="userDict" value="~/App_Data/UserDict.xml"/>
        </parameters>
        <services>
          <service type="Morpher.WebService.V3.Russian.IUserDictionaryLookup"/>
          <service type="Morpher.WebService.V3.Russian.IExceptionDictionary"/>
        </services>
      </component>

      <component
        type="Morpher.WebService.V3.Ukrainian.XmlUserDictionary, Morpher.WebService.V3.LibAnalyzer"
        instance-scope="single-instance">
        <parameters>
          <parameter name="userDict" value="~/App_Data/UserDictUkr.xml"/>
        </parameters>
        <services>
          <service type="Morpher.WebService.V3.Ukrainian.IUserDictionaryLookup"/>
          <service type="Morpher.WebService.V3.Ukrainian.IExceptionDictionary"/>
        </services>
      </component>

      <component
        type="Morpher.WebService.V3.Russian.LibAnalyzer, Morpher.WebService.V3.LibAnalyzer"
        service="Morpher.WebService.V3.General.Data.IRussianAnalyzer"
        instance-scope="single-instance"/>

      <component
        type="Morpher.WebService.V3.Ukrainian.LibAnalyzer, Morpher.WebService.V3.LibAnalyzer"
        service="Morpher.WebService.V3.General.Data.IUkrainianAnalyzer"
        instance-scope="single-instance"/>
      
    </components>
  </autofac>
</configuration>
