<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>

  <autofac defaultAssembly="Morpher.WebService.V3">
    <components>

      <component
        type="Morpher.WebService.V3.General.Data.Services.LogSyncer"
        service="Morpher.WebService.V3.General.Data.Services.LogSyncer"
        instance-scope="per-lifetime-scope"/>

      <component
        type="Morpher.WebService.V3.General.Data.Services.UserCacheSyncer"
        service="Morpher.WebService.V3.General.Data.Services.UserCacheSyncer"
        instance-scope="per-lifetime-scope"/>

      <component 
        type="Morpher.WebService.V3.General.Data.Services.MorpherLog"
        service="Morpher.WebService.V3.General.Data.IMorpherLog"
        instance-scope="single-instance"/>

      <component
        type="Morpher.WebService.V3.General.Data.Services.MorpherCache"
        service="Morpher.WebService.V3.General.Data.IMorpherCache">
        <parameters>
          <parameter name="name" value="ApiThrottler"></parameter>
        </parameters>
      </component>

      <component
        type="Morpher.WebService.V3.General.Data.Services.MorpherCache"
        service="Morpher.WebService.V3.General.Data.Interfaces.ICorrectionCache">
        <parameters>
          <parameter name="name" value="UserCorection"></parameter>
        </parameters>
      </component>
      
      <component
        type="Morpher.WebService.V3.General.Data.Services.ResultTrimmer"
        service="Morpher.WebService.V3.General.Data.IResultTrimmer"/>
      
      <component
        type="Morpher.WebService.V3.General.Data.Services.ApiThrottler"
        service="Morpher.WebService.V3.General.Data.IApiThrottler"/>

      <component
        type="Morpher.WebService.V3.Russian.LibAnalyzer, Morpher.WebService.V3.LibAnalyzer"
        service="Morpher.WebService.V3.General.Data.IRussianAnalyzer"
        instance-scope="single-instance"/>

      <component
        type="Morpher.WebService.V3.Ukrainian.LibAnalyzer, Morpher.WebService.V3.LibAnalyzer"
        service="Morpher.WebService.V3.General.Data.IUkrainianAnalyzer"
        instance-scope="single-instance"/>

      <component
        type="Morpher.WebService.V3.General.Data.DatabaseUserDictionary"
        instance-scope="single-instance">
        <services>
          <service type="Morpher.WebService.V3.Russian.IUserDictionaryLookup"/>
          <service type="Morpher.WebService.V3.Russian.IExceptionDictionary"/>
          <service type="Morpher.WebService.V3.Ukrainian.IUserDictionaryLookup"/>
          <service type="Morpher.WebService.V3.Ukrainian.IExceptionDictionary"/>
        </services>
      </component>
      
      <component
        type="Morpher.WebService.V3.General.Data.Services.DatabaseLog"
        service="Morpher.WebService.V3.General.Data.IDatabaseLog"/>

      <component
        type="Morpher.WebService.V3.General.Data.Services.MorpherDatabase"
        service="Morpher.WebService.V3.General.Data.IMorpherDatabase"/>
    </components>
  </autofac>
</configuration>
