@{
    ViewBag.Title = "title";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Веб-сервис склонения по падежам «Морфер» 3.0</h2>
    <p>Веб-сервис предназначен для склонения по падежам слов и словосочетаний на русском и украинском языках. 
    <br/> Он бесплатный (с ограничениями), а для бизнес-пользователей предусмотрен платный доступ.</p>
   
    <h3>Содержание</h3>
    <div class="list-group">
        <a href="#" class="list-group-item">Формат ответа</a>
        <a href="#" class="list-group-item">Cклонение фамилий, имен и отчеств; должностей и званий; городов, стран и улиц</a>
        <a href="#" class="list-group-item">Выделение в строке фамилии, имени и отчества</a>
        <a href="#" class="list-group-item">Формирование «суммы прописью» в любом падеже в договорах, актах, счетах и накладных</a>
        <a href="#" class="list-group-item">Согласование единицы измерения с числом (3 новых письма, 10 комментариев, 14 календарных дней)</a>
        <a href="#" class="list-group-item">Определение пола по ФИО, например, для вывода «действующий» или «действующая на основании...»</a>
        <a href="#" class="list-group-item">Склонение прилагательных по родам</a>
        <a href="#" class="list-group-item">Образование прилагательных от названий городов и стран.</a>
        <a href="#" class="list-group-item">Переход с сервиса 2.0 на сервис 3.0</a>
    </div>
    
    <h3>Формат ответа</h3>
    <p>Веб-сервис версии 3 поддерживает json и xml ответы. <br/> Для получения ответа в нужном формате достаточно указать в строке запроса format=json или format=xml. 
        <br/>Так же возможно установить формат ответа используя HTTP заголовок Accept, указав Accept: application/json или Accept: application/xml, для получения json и xml
    ответа соответственно</p>

    <h3>Cклонение фамилий, имен и отчеств; должностей и званий; городов, стран и улиц</h3>
    <p>Пример вызова функции склонения через HTTP GET:</p>
    <blockquote><a href="@Url.RouteUrl("RussianDeclension", new {httproute = true, s = "Пользователь", format = "json"})">@($"{ViewBag.Url}/russian/declension?s=Пользователь&format=json")</a></blockquote>
   
    <p>В овет получим</p>
    <pre>
{
  "Р": "Пользователя",
  "Д": "Пользователю",
  "В": "Пользователя",
  "Т": "Пользователем",
  "П": "Пользователе",
  "П-о": "о Пользователе",
  "род": "Мужской",
  "множественное": {
    "Р": "Пользователя",
    "Д": "Пользователю",
    "В": "Пользователя",
    "Т": "Пользователем",
    "П": "Пользователе",
    "П-о": "о Пользователе"
  },
  "Где": "в Пользователе",
  "Куда": "в Пользователя",
  "Откуда": "из Пользователя"
}
</pre>
    <p><b>s</b> – строка для склонения – должна быть в кодировке UTF-8 и перед вставкой в URL должна быть закодирована при помощи URL Encoding.</p>
    <p>Если у слова нет какой-либо формы, то соответствующий тег будет пустой, например: теля, мзда. Если у слова нет множественного числа или оно уже во множественном, 
        то тег <b>&lt;множественное&gt;</b> будет отсутствовать: сутки, ножницы. Множественное число не выдается также для фамилий, имен и отчеств.</p>
    
    <h4>Украинский вариант функции</h4>
    <p>Пример вызова функции склонения через HTTP GET:</p>
    <blockquote><a href="@Url.RouteUrl("UkrainianDeclension", new { httproute = true, s = "Користувач", format = "json" })">
        @($"{ViewBag.Url}/ukrainian/declension?s=Корыстувач&format=json")</a></blockquote>
    <p>В ответ получим</p>
    <pre>
{
  "Р": "Користувача",
  "Д": "Користувачу",
  "З": "Користувача",
  "О": "Користувачем",
  "М": "Користувачі",
  "К": "Користувачу",
  "рід": "Чоловічий"
}
</pre>
    <p>Украинская версия лучше всего справляется с именами, фамилиями и отчествами. Работа над другими типами словосочетаний ведется. Множественное число пока не строится.</p>
   

</div>
