

<html>

<head>
    <style type="text/css">
        BODY {
            color: #000000;
            background-color: white;
            font-family: Verdana;
            margin-left: 0px;
            margin-top: 0px;
        }

        #content {
            margin-left: 30px;
            font-size: .70em;
            padding-bottom: 2em;
        }

        A:link {
            color: #336699;
            font-weight: bold;
            text-decoration: underline;
        }

        A:visited {
            color: #6699cc;
            font-weight: bold;
            text-decoration: underline;
        }

        A:active {
            color: #336699;
            font-weight: bold;
            text-decoration: underline;
        }

        A:hover {
            color: #cc3300;
            font-weight: bold;
            text-decoration: underline;
        }

       
        ul {
            margin-top: 10px;
            margin-left: 20px;
        }

        li {
            margin-top: 10px;
            color: #000000;
        }

        font.value {
            color: darkblue;
            font-weight: bold;
        }

        font.key {
            color: darkgreen;
            font-weight: bold;
        }

        font.error {
            color: darkred;
            font-weight: bold;
        }

        .heading1 {
            color: #ffffff;
            font-family: Tahoma;
            font-size: 26px;
            font-weight: normal;
            background-color: #003366;
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: -30px;
            padding-top: 10px;
            padding-bottom: 3px;
            padding-left: 15px;
            width: 105%;
        }
    </style>

    <title>
        Веб-сервис "Морфер"
    </title>
</head>

<body>

    <div id="content">
        <p class="heading1">Веб-сервис склонения по падежам «Морфер»</p><br>
        <p>Веб-сервис предзначен для склонения по падежам слов и словосочетаний на русском и украинском языках.</p>
        <blockquote><a href="http://morpher.ru/ws3/">Онлайн-документация</a></blockquote>
        <p>Примеры вызова функций склонения через HTTP GET:</p>
        <ul>
            <li><a href="~/russian/declension?s=Пользователь">@(ViewBag.Url + "russian/declension?s=Пользователь")</a></li>
            <li><a href="~/ukrainian/declension?s=Користувач">@(ViewBag.Url + "ukrainian/declension?s=Користувач")</a></li>
            <li><a href="~/russian/spell?n=10&unit=рубль">@(ViewBag.Url + "russian/spell?n=10&unit=рубль")</a></li>
            <li><a href="~/russian/genders?s=уважаемый&format=json">@(ViewBag.Url + "russian/gender?s=Уважаемый&format=json")</a></li>
        </ul>
    </div>
</body>
</html>
