<?xml version="1.0"?>

<!-- In order to use this config, you need to set 

<WebServiceSettings>
 <add key="RunAsLocalService" value="true"/>
 </WebServiceSettings>
 
in Web.config
-->

<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  
  <autofac defaultAssembly="Morpher.WebService.V3">  
    <components>

      <!-- LIB ANALYZERS -->
      
      <!-- =============== Morpher.Russian ====================-->
      
      <!--<component
        type="Morpher.WebService.V3.Russian.MorpherAdapter, Morpher.WebService.V3.LibAnalyzer"
        service="Morpher.WebService.V3.Russian.Data.IMorpher"
        instance-scope="single-instance"/>

      <component
        type="Morpher.WebService.V3.Russian.XmlUserDictionary, Morpher.WebService.V3.LibAnalyzer"
        instance-scope="single-instance">
        <services>
          <service type="Morpher.WebService.V3.Russian.IExceptionDictionary"/>
          <service type="Morpher.WebService.V3.Russian.IUserDictionaryLookup"/>
        </services>
        <parameters>
          <parameter name="userDict" value="~/App_Data/UserDict.xml"/>
        </parameters>
      </component>-->

      <!-- =============== Adjectivizer ====================-->
      
      <!--<component
        type="Morpher.WebService.V3.Russian.AdjectivizerAdapter, Morpher.WebService.V3.LibAnalyzer"
        service="Morpher.WebService.V3.Russian.Data.IAdjectivizer"
        instance-scope="single-instance"/>-->

      <!-- =============== Accentizer ====================-->
      
      <!--<component
        type="Morpher.WebService.V3.Russian.AccentizerAdapter, Morpher.WebService.V3.LibAnalyzer"
        service="Morpher.WebService.V3.Russian.Data.IAccentizer"
        instance-scope="single-instance"/>-->

      <!-- =============== Morpher.Ukrainian ====================-->
      
      <!--<component
        type="Morpher.WebService.V3.Ukrainian.LibAnalyzer, Morpher.WebService.V3.LibAnalyzer"
        service="Morpher.WebService.V3.Ukrainian.Data.IUkrainianAnalyzer"
        instance-scope="single-instance"/>

      <component
        type="Morpher.WebService.V3.Ukrainian.XmlUserDictionary, Morpher.WebService.V3.LibAnalyzer"
        instance-scope="single-instance">
        <services>
          <service type="Morpher.WebService.V3.Ukrainian.IExceptionDictionary"/>
          <service type="Morpher.WebService.V3.Ukrainian.IUserDictionaryLookup"/>
        </services>
        <parameters>
          <parameter name="userDict" value="~/App_Data/UserDictUkr.xml"/>
        </parameters>
      </component>-->
      
      <!-- WEB ANALYZERS -->

      <!-- =============== Morpher.Russian ====================-->
      
      <component
        type="Morpher.WebService.V3.Russian.WebExceptionDictionary"
        service="Morpher.WebService.V3.Russian.IExceptionDictionary"/>
      <component
        type="Morpher.WebService.V3.Russian.WebAnalyzer"
        service="Morpher.WebService.V3.Russian.Data.IMorpher"/>

      <!-- ====================================================-->
      
      <component
        type="Morpher.WebService.V3.Russian.WebAnalyzer">
        <services>

          <!-- =============== Adjectivizer ====================-->
          <service type="Morpher.WebService.V3.Russian.Data.IAdjectivizer"/>
          <!-- =============== Accentizer ====================-->
          <service type="Morpher.WebService.V3.Russian.Data.IAccentizer"/>
          
        </services>
      </component>

      <component
        type="Morpher.WebService.V3.Ukrainian.WebAnalyzer"
        service="Morpher.WebService.V3.Ukrainian.Data.IUkrainianAnalyzer"/>
      <component
        type="Morpher.WebService.V3.Ukrainian.WebExceptionDictionary"
        service="Morpher.WebService.V3.Ukrainian.IExceptionDictionary"/>
      
    </components>
  </autofac>
</configuration>
