<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  
  <autofac defaultAssembly="Morpher.WebService.V3">  
    <components>

      <!-- LIB ANALYZERS -->
      
      <!--<component
        type="Morpher.WebService.V3.Russian.MorpherAdapter, Morpher.WebService.V3.LibAnalyzer"
        service="Morpher.WebService.V3.Russian.Data.IMorpher"
        instance-scope="single-instance"/>-->

      <!--<component
        type="Morpher.WebService.V3.Russian.AdjectivizerAdapter, Morpher.WebService.V3.LibAnalyzer"
        service="Morpher.WebService.V3.Russian.Data.IAdjectivizer"
        instance-scope="single-instance"/>-->

      <!--<component
        type="Morpher.WebService.V3.Russian.AccentizerAdapter, Morpher.WebService.V3.LibAnalyzer"
        service="Morpher.WebService.V3.Russian.Data.IAccentizer"
        instance-scope="single-instance"/>-->
      
      <!--<component
        type="Morpher.WebService.V3.Ukrainian.LibAnalyzer, Morpher.WebService.V3.LibAnalyzer"
        service="Morpher.WebService.V3.Ukrainian.Data.IUkrainianAnalyzer"
        instance-scope="single-instance"/>-->

      <!-- WEB ANALYZERS -->
      
      <component
        type="Morpher.WebService.V3.Russian.WebAnalyzer">
        <services>
          
          <service type="Morpher.WebService.V3.Russian.Data.IMorpher"/>
          <service type="Morpher.WebService.V3.Russian.Data.IAdjectivizer"/>
          <service type="Morpher.WebService.V3.Russian.Data.IAccentizer"/>
          
        </services>
      </component>

      <component
        type="Morpher.WebService.V3.Ukrainian.WebAnalyzer"
        service="Morpher.WebService.V3.Ukrainian.Data.IUkrainianAnalyzer"/>
      
    </components>
  </autofac>
</configuration>
