<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <WebServiceSettings>
    <add key="RunAsLocalService" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </WebServiceSettings>
  <SecretSettings xdt:Transform="Remove"></SecretSettings>
  <connectionStrings xdt:Transform="Remove"></connectionStrings>
  <system.net>
    <mailSettings xdt:Transform="Remove"></mailSettings>
  </system.net>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>